<%#encoding:UTF-8%><%
  #sectnumlevels = (@document.attr 'sectnumlevels', 3).to_i
  toclevels = (@document.attr 'toclevels', 2).to_i
  slevel = (first_section = sections[0]).level
  slevel = 1 if slevel == 0 && first_section.special %>
<ul class="sectlevel<%= slevel %> filetree treeview" id="tree">
<% sections.each do |section| %>
#    if section.numbered && !section.caption && section.level <= sectnumlevels
#      section_num = "#{section.sectnum}"
#    end
  <li><a href="#<%= section.id %>"><%= section.captioned_title %></a>
    if section.level < @document.attr('toclevels', 2) %>
  <%# <li><a href="#<%= section.id %1>"><%= section.captioned_title %1></a> %>
    <%= converter.convert section, 'outline' %>
    </li>
  <% end %>
  <% end %>
</ul>
